<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

    <style>
        /* 공통 스타일은 여기에 정의 */

        body {
            overflow: hidden; /* 전체 페이지 스크롤 비활성화 */
            display: flex;
        }

        .section {
            flex: 1;
            height: 150vh; /* 화면 높이를 100%로 설정 */
            overflow-y: auto; /* 섹션 내 스크롤 활성화 */
            padding: 20px;
            box-sizing: border-box;
        }

        #pc-section {
            background-color: #f3f5fc;
            flex: 1;
            height: 150vh; /* 화면 높이를 100%로 설정 */
            overflow-y: none; /* 섹션 내 스크롤 활성화 */
            box-sizing: border-box;
        }

        #mobile-section {
            background-color: #f3f5fc;
            flex: 1;
            height: 150vh; /* 화면 높이를 100%로 설정 */
            overflow-y: auto; /* 섹션 내 스크롤 활성화 */
            box-sizing: border-box;
        }

        #mobile-section::-webkit-scrollbar {
            display: none; /* 크롬, 사파리, 오페라, 엣지 */
        }

        .pc-content {
            /* PC 웹 영역에 대한 스타일 */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mobile-content {
            /* 모바일 전용 화면에 대한 스타일 */
            background-color: #e0e0e0;
        }

        #wrapper {
            width: 50%;
            margin-bottom: 100%;
            margin-right: 40%;
            background-color: #e7ebfa;
        }

        a:visited {
            color : black;
        }
        a:hover {
         color : darkblue;
        }
        
        #card {
            width: 100%;
            display: flex;
            box-shadow: 4px 4px 4px rgb(252, 243, 243);
            padding: 20px;
        }

        #imply {
            font-size: medium;
            margin-bottom: -5%;
            color: darkblue;
            font-weight: bold;
        }

        #imply-content {
            font-size: medium;
            margin-bottom: -5%;
            color:black;
            font-weight: bold;
        }

        #title {
            color:black;
            font-weight: 550;
            margin-bottom: 1%;
            font-size: 21px;
            text-underline-position:under;
        }

        #imagefit{
            margin-right: 5%;
            margin-top: 4%;
        }

        /* 미디어 쿼리: 768px 이하일 때 적용됨 (일반적으로 태블릿 및 모바일 화면 크기) */
        @media (max-width: 1281px) {
            .pc-content {
                display: none; /* PC 웹 영역을 숨김 */
            }

            .mobile-content {
                display: block; /* 모바일 전용 화면을 표시 */
            }
            #wrapper {
                width: max-content;
                margin-right: 4%;
            }
        }
    
    </style>
</head>

<body>

    <div class="pc-content" id="pc-section">
        <!-- PC 웹 영역의 내용 -->
        <!-- <h2>PC Web Content</h2>
        <p>This content is visible on PC.</p> -->

        <!-- 추가 내용 -->
        <div style="margin-bottom: 50%; margin-left: 40%;">
            <div class="magazine-logo" style="padding: 18%;">
                <button onclick="location.href='/cms'">cms</button>
                <img src="/logo.png">
            </div>
            <div class="magazine-logo" style="padding: 18%;">
                <img src="/smile.png">
            </div>
            <div class="cisone-logo" style="padding: 18%;">
                <img src="/cisone-logo.png">
            </div>
        </div>
        
    </div>

    <div class="mobile-content" id="mobile-section">
        <!-- 모바일 전용 화면의 내용 -->
        <!-- <h2>Mobile Content</h2>
        <p>This content is visible on mobile.</p> -->
        <!-- 추가 내용 -->
        <!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-newspaper"><span>Magazine</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
						<a href="https://www.instagram.com/smile063_magazine/" class="icon brands fa-instagram"><span>Instagram</span></a>
					</nav>

				<!-- Main -->
					<div id="main">
				
						<!-- Work -->
							<article id="work" class="panel">
								<header>
									<h3 style="color: darkblue; font-weight: 600;">SMILE063 Magazine</h3>
								</header>
								<p>
									cisone's smile 063 magazine
								</p>
								<section>
									<div class="row">

                                        <% list.forEach(function (item, index) { %>
                                            <div id="card" class="col-4 col-6-medium col-12-small">
                                                <a href="/magazine/<%= item.magazine_id%>" id="imagefit" class="image fit"><img src="\<%= item.thumbnail%>" alt=""></a>
                                                <div style="width: 130%;">
                                                    <h3 id="title"><a href="/magazine/<%= item.magazine_id%>"><%= item.title %></a></h3>
                                                    <p id="imply"><%= item.sub_title1 %></p>
                                                    <p id="imply-content"><%= item.sub_title_content1 %></p>
                                                    <p id="imply"><%= item.sub_title2 %></p>
                                                    <p id="imply-content"><%= item.sub_title_content2 %></p>
                                                    <p id="imply"><%= item.sub_title3 %></p>
                                                    <p id="imply-content"><%= item.sub_title_content3 %></p>
                                                    <p id="imply"><%= item.sub_title4 %></p>
                                                    <p id="imply-content"><%= item.sub_title_content4 %></p>
                                                </div>
                                            </div>
                                        <% }); %>   

									</div>
								</section>
							</article>

						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
									<h2>Contact Me</h2>
								</header>
								<form action="#" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Name" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Subject" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Message" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Send Message" />
											</div>
										</div>
									</div>
								</form>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Copyright by SMILE063.All rights reserved</li><li>Design: <a href="http://www.cisone.co.kr/">(주)씨스원</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
    </div>

</body>

</html>